[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
[user]
    name = endesigner
    email = igor@endesigner.se
[core]
    excludesfile = $HOME/.gitignore_global
